<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CMS</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/cms.css" />
    <link rel="stylesheet" href="~/css/desktop.css" />
    <link rel="stylesheet" href="~/css/mobile.css" />

</head>
<body>
    <header>
        <div class="topnav" id="myTopnav">
            <a class="navbar-brand active" asp-area="" asp-controller="Home" asp-action="Index">FilmNet</a>
            <a class="button" asp-area="" asp-controller="Home" asp-action="AllFilms">All Films</a>
            <a class="button" asp-area="" asp-controller="Home" asp-action="Search">Search</a>
            <a class="button" asp-area="" asp-controller="CMS" asp-action="Index">CMS Home</a>

            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>


        </div>
    </header>
        
   



    
    <main>

        

            @if (User.Identity.IsAuthenticated)
            {
                <section class="indent-1">
                    <section>
                        <h1>Welcome @User.Identity.Name</h1>
                    </section>
                    <section>
                        <form asp-controller="Security" asp-action="SignOut" method="post">
                            <button class="SearchInputRed" style="margin-top: 30px; margin-left:80px;" type="submit" >Sign Out</button>
                        </form>
                    </section>
                </section>
                    
                
            }
        

        @RenderBody()


    </main>


    <footer>

        <div class="contain">
            <div class="col">
                <h1>Quick Links</h1>
                <ul>
                    <li>
                        <a style="color: #888888;" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li>
                        <a style="color: #888888;" asp-area="" asp-controller="Home" asp-action="AllFilms">All Films</a>
                    </li>
                    <li>
                        <a style="color: #888888;" asp-area="" asp-controller="Security" asp-action="SignIn">Log In</a>
                    </li>
                    <li>
                        <a style="color: #888888;" asp-area="" asp-controller="Home" asp-action="Search">Search</a>
                    </li>
                    <li>
                        <a style="color: #888888;" asp-area="" asp-controller="Home" asp-action="ManageCart">Basket</a>
                    </li>
                </ul>
            </div>
            <div class="col">
                <h1>Latest Films</h1>
                <ul>
                    <li><a style="color: #989898;" asp-controller="Home" asp-action="FilmDetails" asp-route-id="62">The Little Mermaid</a></li>
                    <li><a style="color: #989898;" asp-controller="Home" asp-action="FilmDetails" asp-route-id="67">Snow White</a></li>
                    <li><a style="color: #989898;" asp-controller="Home" asp-action="FilmDetails" asp-route-id="43">Interstellar</a></li>
                    <li><a style="color: #989898;" asp-controller="Home" asp-action="FilmDetails" asp-route-id="45">Spectre</a></li>
                    <li><a style="color: #989898;" asp-controller="Home" asp-action="FilmDetails" asp-route-id="64">Tangled</a></li>
                </ul>
            </div>
            <div class="col">
                <h1>Contact Info</h1>
                <ul>
                    <li style="color: #A0A0A0">0114 274 5676</li>
                    <li style="color: #A0A0A0">Twitter: FilmNet</li>
                    <li style="color: #A0A0A0">Instagram: FilmNet</li>
                    <li style="color: #A0A0A0">Snapchat: FilmNetFun</li>
                    <li style="color: #A0A0A0">Get in touch</li>
                </ul>
            </div>
            <div class="col">
                <h1>Support</h1>
                <ul>
                    <li style="color: #A9A9A9">Contact us</li>
                    <li style="color: #A9A9A9">Claim Voucher</li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
