<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CMS</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/cms.css" />
    <link rel="stylesheet" href="~/css/desktop.css" />
    <link rel="stylesheet" href="~/css/mobile.css" />

</head>
<body>
    <header>
            <div class="topnav" id="myTopnav">
                <a class="navbar-brand active" asp-area="" asp-controller="Home" asp-action="Index">FilmNet</a>
                <a class="button" asp-area="" asp-controller="Home" asp-action="AllFilms">All Films</a>
                <a class="button" asp-area="" asp-controller="Home" asp-action="Search">Search</a>
                <a class="button" asp-area="" asp-controller="CMS" asp-action="Index">CMS Home</a>
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                    <i class="fa fa-bars"></i>
                </a>
            </div>

        <div class="innerHeader">
            @if (User.Identity.IsAuthenticated)
            {
                <div class="login">
                    <p>Welcome @User.Identity.Name</p>
                    <form asp-controller="Security" asp-action="SignOut" method="post">
                        <button type="submit" class="delete">Sign Out</button>
                    </form>
                </div>
            }



        </div>
    </header>
    <main>

        @RenderBody()


    </main>


    <footer>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
