:root {
    --button-color: #C9D91E;
}

html{
    position:relative;
    min-height: 100%;
}
body {

   
}
main{
    margin:auto;
    max-width:1200px;
    flex-direction:row;
}
header {
    background-color: #5393fd;
    position: sticky;
    top: 0;
    z-index: 1;
}
.innerHeader {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.container{
    padding-left:30px;
    padding-right:30px;
    padding-top:15px;
    padding-bottom:80px;
}

    .flex-container {
        display: flex;
        flex-wrap: wrap;
        width:100%;
        padding-left:20px;
    }

        .flex-container .cont {
            padding:10px;
        }

        .flex-container > div {
            background-color: #f1f1f1;
            text-align: center;
        }

    .login > p {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .login > form > button.delete {
        margin-top: 0;
    }

    .topnav {
        overflow: hidden;
        background-color: #5393fd;
    }

        .topnav a {
            float: left;
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
        }

            .topnav a:hover {
                background-color: #ddd;
                color: black;
            }

            .topnav a.active {
                background-color: #2675f7;
                color: #f2f2f2;
            }

        .topnav .icon {
            display: none;
        }

    @media screen and (max-width: 600px) {
        .topnav a:not(:first-child) {
            display: none;
        }

        .topnav a.icon {
            float: right;
            display: block;
        }
    }

    @media screen and (max-width: 600px) {
        .topnav.responsive {
            position: relative;
        }

        .topnav.responsive .icon {
            position: absolute;
            right: 0;
            top: 0;
        }

        .topnav.responsive a {
            float: none;
            display: block;
            text-align: left;
        }
    }


    .button {
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }



    main {
        margin-top: 25px;
    }

    .shoppingCart {
        flex: 0 0 25%;
    }

    section .indent-1 {
        float: left;
        padding-left: 30px;
    }

    section {
        width: 50%;
        float: left;
        font-size: 30px;
    }

    #FilmsSection{
        width:100%;
        float: left;
        font-size:30px;
    }

    .FilmTitle{
        font-size: 20px;
    }

  .flex-container .filmInfo p{
      font-size:20px;
      padding-top:30px;
  }



    .wrap {
    display: flex;
    flex-wrap: wrap;
    }



    .mainImage, .filmInfo {
        padding: 5px;
    }

    .filmInfo {
        flex: 0 0 50%;
    }



.mainImage > img {
    max-width: 320px;
    max-height: 314px;

   
}

    .filmInfo h2 {
        margin-top: 0;
    }

    input[type=number] {
        width: 80px;
        padding: 5px;
    }

    .searchBox {
        padding: 5px;
        font-size: 120%;
    }

    .cta {
        border-radius: 6px;
        margin-top: 20px;
        -webkit-appearance: none;
        background: none;
        border: none;
        font-size: 1.2em;
        color: #000;
        text-transform: uppercase;
        text-decoration: none;
        background-color: var(--button-color);
        padding: 10px 25px;
    }

    .fullWidth {
        flex: 0 0 100%;
    }

    .fullCart th, .fullCart td {
        padding: 5px 8px;
    }

    .cartSummary {
        border: 1px solid #ccc;
        margin-right: 15px;
        padding: 8px;
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 160px;
    }

        .cartSummary h4 {
            margin-bottom: 0;
        }

        .cartSummary p {
            margin: 0;
        }

            .cartSummary p a {
                border-radius: 6px;
                color: #000;
                text-transform: uppercase;
                text-decoration: none;
                display: inline-block;
                margin: 10px 0;
                background-color: var(--button-color);
                padding: 10px 25px;
            }

    /* slideshow css */

    .slide > img {
        height: 50%;
        width: 350px;
    }

    [data-component="slideshow"] .slide {
        height: 50%;
        width: 50%;
        display: none;
        text-align: center;
    }

        [data-component="slideshow"] .slide.active {
            display: block;
        }
    /* end of slideshow css */

    /*index.cshtml terminal text*/
    .hidden {
        opacity: 0;
    }

    .console-underscore {
        display: inline-block;
        position: relative;
        top: -0.14em;
        left: 10px;
    }

    /*end of index.cshtml terminal text*/

    /*footer css*/
footer {
    width: 100%;
    position: relative;
    left: 0;
    bottom: 0;
    height: auto;
    background-color: #a3cef1;
}

    footer .col {
        width: 190px;
        height: auto;
        float: left;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        padding: 0px 20px 20px 20px;
    }

        footer .col h1 {
            margin: 0;
            padding: 0;
            font-family: 'Montserrat Subrayada', sans-serif;
            font-size:  13px;
            line-height: 17px;
            padding: 20px 0px 5px 0px;
            color: #FFFFFF;
            font-weight: normal;
            text-transform: uppercase;
            letter-spacing: 0.250em;
        }

        footer .col ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

            footer .col ul li {
                text-decoration: none;
                color: #6495ED;
                font-size: 14px;
                font-family: inherit;
                font-weight: bold;
                padding: 5px 0px 5px 0px;
                cursor: pointer;
                transition: .2s;
                -webkit-transition: .2s;
                -moz-transition: .2s;
            }

footer.col ul li a{
    text-decoration:none;
}

a {
    text-decoration: none !important;
}


footer .col ul li:hover {
    color: #ffffff;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
}

.clearfix {
    clear: both;
}

@media only screen and (min-width: 1280px) {
    .contain {
        width: 1200px;
        margin: 0 auto;
    }
}



@media only screen and (max-width: 950px) {
    footer .col {
        width: 33%;
    }

        footer .col h1 {
            font-size: 14px;
        }

        footer .col ul li {
            font-size: 13px;
        }
}

@media only screen and (max-width: 500px) {
    footer .col {
        width: 50%;
    }

        footer .col h1 {
            font-size: 14px;
        }

        footer .col ul li {
            font-size: 13px;
        }
}

@media only screen and (max-width: 340px) {
    footer .col {
        width: 100%;
    }
}

/*Box image on allFilms*/

.BoxContainer {
    padding:5px;
    position: relative;
}

.BoxImage {
    opacity: 1;
    display: block;
    max-width: 320px;
    max-height: 314px;
    transition: .5s ease;
    backface-visibility: hidden;
}

.BoxMiddle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.BoxContainer:hover .BoxImage {
    opacity: 0.3;
}

.BoxContainer:hover .BoxMiddle {
    opacity: 1;
}

.BoxText {
    background-color: #5393fd;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

/*Search CSS*/

#SearchLabelText {
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 35px;
}

.SearchLabel {
    padding: 10px;
    margin-bottom:10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

.SearchInput {
    float: left;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

/*login css*/

div input [type=text] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit] {
    width: 100%;
    background-color: #e2e2e2;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=date] {
    width: 100%;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #e2e2e2;
}

div label {
    font-family: Arial;
    font-size:15px;
}

form{
    padding-left:50%;
}

@media only screen and (max-width: 600px) {
    form {
        padding-left: 10px;
    }
}

.message{
    font-size:10px;
    color:red;
    margin-left:50px;
}

/*for search page*/

.searchContainer {
   
    padding-bottom: 295px;
    width: 100%;
}