*{
    box-sizing:border-box;
}
body {
    font-family: Helvetica, Arial, sans-serif;
    margin:0;
    padding:0;
}
header {
    background-color: #5393fd;
    overflow: auto;
}
main{
    display:flex;
    flex-direction:column;
}
.shoppingCart{
    
}
.msg {
    background-color: #F2811D;
    color: #260707;
    display:inline-block;
    padding:3px 5px;
}
table{
    border-collapse:collapse;
}
th{
    background-color:#ccc;
}
td,th{
    border:1px solid #ccc;
}

/*burger menu*/


/*    .main-nav a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

        .main-nav a:hover {
            background-color: #ddd;
            color: black;
        }

        .main-nav a.active {
            background-color: #4CAF50;
            color: white;
        }

    .main-nav .icon {
        display: none;
    }

@media screen and (max-width: 600px) {
    .main-nav a:not(:first-child) {
        display: none;
    }

    .main-nav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .main-nav.responsive {
        position: relative;
    }

        .main-nav.responsive .icon {
            position: absolute;
            right: 0;
            top: 0;
        }

        .main-nav.responsive a {
            float: none;
            display: block;
            text-align: left;
        }
}*/
