@{
    ViewData["Title"] = "Home Page";
}


    @*<div class="ImageContainer">
        <div class="display-Container mySlides">
            <img src="~/backgroundImg/Pic1.jpg" />
            <div class="displayMiddle">
                Pic
            </div>
        </div>
        <div class="display-Container mySlides">
            <img src="~/backgroundImg/Pic2.jpg" />
            <div class="displayMiddle">
                Pic
            </div>
        </div>
    </div>*@
    
        @*<div class=" flex-container">*@
        @*<div class="indexText">
            <div id="slideshow-example" data-component="slideshow">
                <div role="list">
                    <div class="slide">
                        <img src="~/images/Poster1.jpg" alt="Pizza Party!" />
                    </div>
                    <div class="slide">
                        <img src="~/images//Poster2.jpg" alt="Pizza Party!" />
                    </div>
                </div>
            </div>
        </div>*@
        <div class="indexText">
            <span style="background-color:lightgrey;" id='text'></span>
            <div style="background-color:lightgrey;"class='console-underscore' id='console'>
                &#95;
            </div>
        </div>

        @*<div class="indexText">
            Discover the latest movie releases and adventure into a new world with the magic of FilmNet. A place where you can
            view, read and purchase films!
        </div>*@
        @*</div>*@
   
    

