@{
    ViewData["Title"] = "Home Page";
}
    <section>
        @*<div class=" flex-container">*@
            <section>
                <span id='text'></span>
                <div class='console-underscore' id='console'>
                    &#95;
                </div>
            </section>
            <section>
                <div id="slideshow-example" data-component="slideshow">
                    <div role="list">
                        <div class="slide">
                            <img src="~/images/Poster1.jpg" alt="Pizza Party!" />
                        </div>
                        <div class="slide">
                            <img src="~/images//Poster2.jpg" alt="Pizza Party!" />
                        </div>
                    </div>
                </div>
            </section>
            <section>
                Discover the latest movie releases and adventure into a new world with the magic of FilmNet. A place where you can
                view, read and purchase films!
            </section>
        @*</div>*@
    </section>
    

