@model WAD_Assignment.Models.Film
@{
    Layout = "_CMS";
    ViewData["Title"] = "Delete Film";
}

<form style="padding-left:20px; margin-bottom:23%;" method="post">

    <input type="hidden" name="FilmID" value="@Model.FilmID" />

    <p>Delete film @Model.FilmTitle?</p>

    <p><input style="background-color: red;" type="submit" value="Delete" /></p>

    <p><a style="margin-left: 10px;" asp-controller="CMS" asp-action="Index" class="SearchInputGreen">Keep</a><br></p>

</form>

